
.sidebar-button {
    -fx-background-color: #c2a488;
    -fx-text-fill: #000000;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-font-size: 16px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 5,0,0,2);
    -fx-cursor: hand;
}


.sidebar-button:hover {
    -fx-background-color: #d4b79a;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10,0,0,3);
}
